
      <div class="container mt-5">
        <div>
          <form>
            <div class="mb-3">
              <div class="row justify-content-center">
                <div class="col-md-8 mb-3">
                  <input
                    type="text"
                    placeholder="Nome"
                    aria-label="Nome"
  
                    class="form-control"
                    [(ngModel)]="banco.banco"
                  />
                </div>
              </div>
             
            </div>
            
          </form>
        </div>
      </div>

    