
.bi {
    background-color: #2b882b;
  }
.card-hover:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 6px rgb(159, 158, 158);
  
}

.carder {
  border: none;
  border-radius: 1vh;
  overflow: hidden; 
  box-shadow: 1px 1px 6px rgb(213, 213, 213);
}

tr:nth-child(odd) {
 background-color:#ffffff;
 }
 tr:nth-last-child(even) {
 background-color:#9b4646;
 }
 .table-zoom {
  transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito de zoom */
}

.table-zoom:hover {
  transform: scale(1.1); /* Aplica um zoom de 110% quando o mouse passa por cima */
}

