
/* Estilo padrão para botões */
.custom-btn {
    background-color: #007bff; /* Cor de fundo padrão */
    color: #fff; /* Cor do texto padrão */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
  }
  
  /* Estilo quando o botão é selecionado */
  .custom-btn.selected {
    background-color: #28a745; /* Cor de fundo quando selecionado */
  }
  
  /* Estilo de hover para botões */
  .custom-btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
  }
  .botao{
      box-shadow: 1px 1px 6px rgb(148, 173, 193);
  }